<!DOCTYPE html>
<html>
<head>
	<title>ToDo app</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
<div class="ui fixed inverted menu">
	<div class="ui container">
		<div class="header item">TODO LIST</div>
		<a href="/" class="item">Home</a>
		<a href="/todo/new" class="item">ADD</a>
	</div>
</div>